<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.copilot.groq.views.GroqAssistantView"
            id="com.example.myplugin.views.GroqAssistantView"
            name="%view.name"
            icon="icons/icon.png">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.example.myplugin.views.GroqAssistantView"
               relationship="right"
               ratio="0.75"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.example.myplugin.commands.analyzeCode"
            name="%command.name">
      </command>
      <command
            id="com.example.myplugin.commands.generateCode"
            name="%command.name.0">
      </command>
      <command
            id="com.example.myplugin.commands.refactorCode"
            name="%command.name.1">
      </command>
      <command
            id="com.example.myplugin.commands.toggleGroqAssistant"
            name="%command.name.2">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.copilot.groq.handlers.AnalyzeCodeHandler"
            commandId="com.example.myplugin.commands.analyzeCode">
      </handler>
      <handler
            class="com.copilot.groq.handlers.GenerateCodeHandler"
            commandId="com.example.myplugin.commands.generateCode">
      </handler>
      <handler
            class="com.copilot.groq.handlers.RefactorCodeHandler"
            commandId="com.example.myplugin.commands.refactorCode">
      </handler>
      <handler
            class="com.copilot.groq.handlers.ToggleGroqAssistantHandler"
            commandId="com.example.myplugin.commands.toggleGroqAssistant">
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.example.myplugin.commands.analyzeCode"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="com.example.myplugin.commands.generateCode"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
      <key
            commandId="com.example.myplugin.commands.refactorCode"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8">
      </key>
      <key
            commandId="com.example.myplugin.commands.toggleGroqAssistant"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+9">
      </key>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.example.myplugin.menus.groqMenu"
               label="%menu.label"
               mnemonic="%menu.mnemonic">
            <command
                  commandId="com.example.myplugin.commands.analyzeCode"
                  id="com.example.myplugin.menus.analyzeCode"
                  mnemonic="%command.mnemonic">
            </command>
            <command
                  commandId="com.example.myplugin.commands.generateCode"
                  id="com.example.myplugin.menus.generateCode"
                  mnemonic="%command.mnemonic.0">
            </command>
            <command
                  commandId="com.example.myplugin.commands.refactorCode"
                  id="com.example.myplugin.menus.refactorCode"
                  mnemonic="%command.mnemonic.1">
            </command>
            <command
                  commandId="com.example.myplugin.commands.toggleGroqAssistant"
                  label="%command.label"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="com.example.myplugin.popup.groqMenu"
               label="%menu.label.0">
            <command
                  commandId="com.example.myplugin.commands.analyzeCode"
                  label="%command.label.0"
                  style="push">
            </command>
            <command
                  commandId="com.example.myplugin.commands.generateCode"
                  label="%command.label.1"
                  style="push">
            </command>
            <command
                  commandId="com.example.myplugin.commands.refactorCode"
                  label="%command.label.2"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.example.myplugin.toolbars.groqToolbar">
            <command
                  commandId="com.example.myplugin.commands.toggleGroqAssistant"
                  icon="icons/icon.png"
                  label="%command.label.3"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.copilot.groq.preferences.MainPreferencePage"
            id="com.example.myplugin.preferences.MainPreferencePage"
            name="%page.name">
      </page>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.copilot.groq.preferences.PreferenceInitializer">
      </initializer>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.copilot.groq.editors.GroqEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="groq"
            id="com.example.myplugin.editors.GroqEditor"
            name="%editor.name">
      </editor>
   </extension>
</plugin>
